# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\ПМИ\2 курс 2020-2021\Технологии программирования 2020-2021 1-4 модули\tp-lab-7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
